
#player,#player a{ color:#bad8eb;  font-size: 12px; font-family: tahoma;}
#player{ background:url(http://static.tumblr.com/d41lcii/vVTmevuna/simplesazulclarovolume.png); background-position:bottom; background-color: #ffffff;}
#player .mainImage{ background:url(http://static.tumblr.com/d41lcii/2Wsmevumw/simplesazulclaro.png); }

#player #baseLeft{ width:93px; }
#player #baseRight{ width:145px;}
#player .button{  width:26px; }
#player #play{ background:url(http://static.tumblr.com/d41lcii/nZ3mevun2/simplesazulclaropause.png); }
#player #play,#player #pause{ left:26px; }
#player #previous{ left:0px; }
#player #next{ left:52px; }
#player #title{ left:90px;  font-size: 12px; }
#player #tooltip{ right:196px; }
#player #timer{ right:120px;  }
#player #list{ right:0px; }

#player #seeker{ right:320px; }
#player #seekerBase{ border-color:#ffffff;  }
#player #seekerBuffered{ background-color:#87CEFA; }
#player #seekerSliderBase{ background-color:#ffffff; }

#player #volume{ width:65px; right:39px; }
#player #volumeSlider{ width:8px; background:url(http://static.tumblr.com/d41lcii/vVTmevuna/simplesazulclarovolume.png); }

#playlist,#playlist .module,#playlist h3{ border-color:#ffffff;}
#playlist .module{  color:#COR DA FONT DA PLAY; background-color:#ffffff; }
#playlist h3{ background:url(http://dl.dropbox.com/u/58708531/bar2.jpg); color:#000000; background-color:#ffffff;  }
#playlist .even{background-color:#fff;}
#playlist .odd{ background-color:#fff;}
#playlist .focus{ background-color:#fff; color:#aaa;}
