#player,#player a{ color:#09116b; }
#player{ background:url(sizerAndVol.png); background-position: bottom !important; background-repeat: repeat-x !important; }
#player .mainImage{ background:url(main.png); }

#player #baseLeft{ width:93px; }
#player #baseRight{ width:145px;}
#player .button{  width:22px; }
#player #play{ background:url(playBtn.png); }
#player #play,#player #pause{ left:32px; }
#player #previous{ left:8px; }
#player #next{ left:55px; }
#player #title{ left:95px;}
#player #tooltip{ right:196px; }
#player #timer{ right:122px;  }
#player #list{ right:5px; }

#player #seeker{ right:320px; }
#player #seekerBase{ border-color:#084670; }
#player #seekerBuffered{ background-color:#81a1e9; }
#player #seekerSliderBase{ background-color:#084670; }

#player #volume{ width:70px; right:33px; }
#player #volumeSlider{ width:14px; background:url(sizerAndVol.png); }

#playlist,#playlist .module,#playlist h3{ border-color:#2f3de1; color:#09116b; }
#playlist h3{ background:url(bar.png); background-repeat: repeat-x !important; color:#FFF;}
#playlist .even{background-color:#FFF;}
#playlist .odd{ background-color:#c8ccff;}
#playlist .focus{ background-color:#0a1488; color:#FFF;}
