body,input,textarea, select{ font-size:13px; color:black; font-family: Helvetica, sans-serif;}
img{ border:none; }
input, textarea,.button{ background-color:#FFF; border:solid 1px black; font-size:14px; padding:5px; }
textarea{ font-family:monospace; }
.button{ background-color:#eee; }
.button:active{ background-color:#ddd; }

h1,h2,h3,h4,p{padding:5px 0; font-family: Helvetica, sans-serif;}
h1,h2,h3{ font-weight:normal;}
h2 { color:#fff; font-size:30px; padding:10px 0;  }
h3 { font-size:18px; height:18px; margin:5px 0; }
h4{ font-size:14px; height:14px; }
p,.bullet li{ font-size:14px; line-height:19px; }
a{ color:#67f; }
h2 a{ color:#fff; text-decoration:none; }

#container,#title{ margin: 0 auto; padding:7px 0; width:870px; }
#content{ width:690px;float:left; }
#navigation{ width:160px;float:right;margin-left:15px; }
#parts{ margin-bottom:15px; }


.new{ color: #B50000; font-weight:bold;}
.caption{ margin-top:10px; float:right; font-size:15px; }
.bigLink,.more{ font-size:18px; text-decoration:none; color:#aaa; cursor:pointer; }
.bigLink:hover,.more:hover{ color:black;}
.more{float:right;}

.linkList,.list{padding:5px 0;}
.linkList a{font-size:18px; margin:5px 0; font-family: Helvetica, sans-serif; display:block; text-decoration:none; color:black; background-color:#eee; padding:10px;}
.linkList a:hover{color:white; background-color:#67f; }

.loading{ background:url(loading.gif) no-repeat center; }

.bullet{ margin:5px 0; }
.bullet li{ padding-bottom:3px; margin-left:17px; list-style-type: disc; line-height:1.3;  }

.large{ font-size:16px; line-height:20px; }

.tab{ border-bottom:#666 1px solid; height:28px; margin-top:5px; } 
.tab li{ float:left; padding:7px 15px; border:#fff 1px solid; background:#EEE; cursor:pointer; }
.tab li{ border-bottom:none; border-top:#fff 1px solid; }
.tab .on{ border:#666 1px solid; background:#fff; }
.tab .on{ border-bottom:#fff 1px solid; border-top:#666 1px solid; }
.tabContent .tabItem{ display:none;  }
.tabContent .on{display:block; border-top:none;}
.gridContent,.tabContent > li{ padding:10px 15px; border:1px #666 solid; }

.stack .stackItem{ display:none;}
.stack .on{ display:block;}

.list li{ padding:5px 0; border-bottom:1px solid #e9e9e9; }

.data{ margin-bottom:10px;}
.data th{ padding: 5px 0; overflow: hidden;}
.data td{ padding-top:7px;}

.data th{ border-bottom: 1px solid #333; font-size: 14px; color:#333; font-weight:bold; text-align: left;}
.data .th a{ font-weight: bold; color: #999;}
.data .title{  text-decoration: none; font-weight: bold; color:#333;}
.data .bottom{ border-top:1px solid #ccc; height:0; border-bottom:0; padding:0 0 10px 0; }
.data .pageIndex{ float:right; padding: 0px 6px;}
.data .content{ border: 0; padding-bottom: 15px; }

