#player,#player a{ color:#333; }
#player{ background:url(sizerAndVol.png); background-position:bottom; }
#player .mainImage{ background:url(main.png); }

#player #baseLeft{ width:93px; }
#player #baseRight{ width:145px;}
#player .button{  width:22px; }
#player #play{ background:url(playBtn.png); }
#player #play,#player #pause{ left:32px; }
#player #previous{ left:8px; }
#player #next{ left:55px; }
#player #title{ left:95px;  }
#player #tooltip{ right:196px; }
#player #timer{ right:122px;  }
#player #list{ right:5px; }

#player #seeker{ right:320px; }
#player #seekerBase{ border-color:#666; }
#player #seekerBuffered{ background-color:#CCC; }
#player #seekerSliderBase{ background-color:#666; }

#player #volume{ width:70px; right:33px; }
#player #volumeSlider{ width:11px; background:url(sizerAndVol.png); }

#playlist,#playlist .module,#playlist h3{ border-color:#666; color:#333; }
#playlist h3{ background:url(bar.jpg);  }
#playlist .even{background-color:#FFF;}
#playlist .odd{ background-color:#EEF7FF;}
#playlist .focus{ background-color:#1188FF; color:#FFF;}
