#player,#player a{ color:#fff; }
#player{ background:url(sizerAndVol.png); background-position:bottom; }
#player .mainImage{ background:url(main.png); }

#player #baseLeft{ width:93px; }
#player #baseRight{ width:145px;}
#player .button{  width:22px; }
#player #play{ background:url(playBtn.png); }
#player #play,#player #pause{ left:32px; }
#player #previous{ left:8px; }
#player #next{ left:55px; }
#player #title{ left:95px;  }
#player #tooltip{ right:196px; }
#player #timer{ right:122px;  }
#player #list{ right:5px; }

#player #seeker{ right:320px; }
#player #seekerBase{ border-color:#e4f4d1; }
#player #seekerBuffered{ background-color:#a4da6f; }
#player #seekerSliderBase{ background-color:#fff; }

#player #volume{ width:70px; right:33px; }
#player #volumeSlider{ width:14px; background:url(sizerAndVol.png); }

#playlist,#playlist .module,#playlist h3{ border-color:#86cf60; color:#529701; }
#playlist h3{ background:url(bar.jpg);  text-shadow: white 1px 1px; }
#playlist .even{background-color:#FFF;}
#playlist .odd{ background-color:#f0ffe3;}
#playlist .focus{ background-color:#3f7400; color:#FFF;}
