#player,#player a{ color:#333; }
#player{ background:url(sizerAndVol.png); background-position: bottom !important; background-repeat: repeat-x !important; }
#player .mainImage{ background:url(main.png); }

#player #baseLeft{ width:188px; }
#player #baseRight{ width:145px;}
#player .button{  width:22px; }
#player #pause{ left:32px; }
#player #play{ background:url(playBtn.png);left:31px; }
#player #previous{ left:8px; }
#player #next{ left:55px; }
#player #title{ left:90px;}
#player #tooltip{ right:196px; }
#player #timer{ right:120px;  }
#player #list{ right:5px; }

#player #seeker{ right:320px; }
#player #seekerBase{ border-color:#666; }
#player #seekerBuffered{ background-color:#DDD; }
#player #seekerSliderBase{ background-color:#666; }

#player #volume{ width:70px; right:33px; }
#player #volumeSlider{ width:14px; background:url(sizerAndVol.png); }

#playlist,#playlist .module,#playlist h3{ border-color:#333;}
#playlist .module{  color:#333; background-color:white; }
#playlist h3{ color:#fff; background-color:#333;  }
#playlist .even{background-color:white;}
#playlist .odd{ background-color:#eee;}
#playlist .focus{ background-color:#666; color:#FFF;}
