<<<<<<< HEAD
#player,#player a{ color:#8f620b; }
=======
#player,#player a{ color:#99620B; }
>>>>>>> 71057897143edc3b068099ddf97772dfd8fec63b
#player{ background:url(sizerAndVol.png); background-position: bottom !important;background-repeat: repeat-x !important; }
#player .mainImage{ background:url(main.png); }

#player #baseLeft{ width:93px; }
#player #baseRight{ width:145px;}
#player .button{  width:22px; }
#player #play{ background:url(playBtn.png); }
#player #play,#player #pause{ left:32px; }
#player #previous{ left:8px; }
#player #next{ left:55px; }
#player #title{ left:95px;}
#player #tooltip{ right:196px; }
#player #timer{ right:122px;  }
#player #list{ right:5px; }

#player #seeker{ right:320px; }
<<<<<<< HEAD
#player #seekerBase{ border-color:#8f620b; }
#player #seekerBuffered{ background-color:#f8d857; }
#player #seekerSliderBase{ background-color:#8f620b; }
=======
#player #seekerBase{ border-color:#99620B; }
#player #seekerBuffered{ background-color:#f8d857; }
#player #seekerSliderBase{ background-color:#99620B; }
>>>>>>> 71057897143edc3b068099ddf97772dfd8fec63b

#player #volume{ width:70px; right:33px; }
#player #volumeSlider{ width:14px; background:url(sizerAndVol.png); }

#playlist,#playlist .module,#playlist h3{ border-color:#ff9200; color:#8f620b; }
#playlist h3{ background:url(bar.png) repeat-x !important; color:#FFF; }
#playlist .even{background-color:#FFF;}
#playlist .odd{ background-color:#ffeace;}
#playlist .focus{ background-color:#ff6a00; color:#FFF;}
