<<<<<<< HEAD
#player,#player a{ color:#8f620b; }
=======
#player,#player a{ color:#99620B; }
>>>>>>> 71057897143edc3b068099ddf97772dfd8fec63b
#player{ background:url(sizerAndVol.png); background-position: bottom !important;background-repeat: repeat-x !important; }
#player .mainImage{ background:url(main.png); }

#player #baseLeft{ width:188px; }
#player #baseRight{ width:145px;}
#player .button{  width:22px; }
#player #pause{ left:32px; }
#player #play{ background:url(playBtn.png);left:31px; }
#player #previous{ left:8px; }
#player #next{ left:55px; }
#player #title{ left:90px;}
#player #tooltip{ right:196px; }
#player #timer{ right:120px;  }
#player #list{ right:5px; }
#player #list{ right:5px; }

#player #seeker{ right:320px; }
#player #seekerBase{ border-color:#99620B; }
#player #seekerBuffered{ background-color:#ffeace; }
#player #seekerSliderBase{ background-color:#99620B; }

#player #volume{ width:70px; right:33px; }
#player #volumeSlider{ width:14px; background:url(sizerAndVol.png); }

<<<<<<< HEAD
<<<<<<< HEAD
#playlist,#playlist .module,#playlist h3{ border-color:#ff9200; color:#8f620b; }
=======
#playlist,#playlist .module,#playlist h3{ border-color:#ff9200; color:#99620B; }
>>>>>>> 71057897143edc3b068099ddf97772dfd8fec63b
=======
#playlist,#playlist .module,#playlist h3{ border-color:#ff9200; color:#8f620b; }
>>>>>>> 62c9ac7d059ba82bcfad13685fa2df01109a90d0
#playlist h3{ background-color: #ff6a00; color:#FFF; }
#playlist .even{background-color:#FFF;}
#playlist .odd{ background-color:#ffeace;}
#playlist .focus{ background-color:#ff6a00; color:#FFF;}
