#player,#player a{ color:#4f0e83; }
#player{ background:url(sizerAndVol.png); background-position: bottom !important; background-repeat: repeat-x !important; }
#player .mainImage{ background:url(main.png); }

#player #baseLeft{ width:188px; }
#player #baseRight{ width:145px;}
#player .button{  width:22px; }
#player #pause{ left:32px; }
#player #play{ background:url(playBtn.png);left:31px; }
#player #previous{ left:8px; }
#player #next{ left:55px; }
#player #title{ left:90px;}
#player #tooltip{ right:196px; }
#player #timer{ right:120px;  }
#player #list{ right:5px; }

#player #seeker{ right:320px; }
#player #seekerBase{ border-color:#4f0e83; }
#player #seekerBuffered{ background-color:#ecd3ff; }
#player #seekerSliderBase{ background-color:#4f0e83; }

#player #volume{ width:70px; right:33px; }
#player #volumeSlider{ width:14px; background:url(sizerAndVol.png); }

#playlist,#playlist .module,#playlist h3{ border-color:#7f23c8; color:#4f0e83; }
#playlist h3{ background-color: #4f0e83; color:#FFF;}
#playlist .even{background-color:#FFF;}
#playlist .odd{ background-color:#ecd3ff;}
#playlist .focus{ background-color:#4f0e83; color:#FFF;}
