#player,#player a{ color:#dfd5fc;  font-size: 09px; font-family:ItalicT;}
#player{ background:url(http://static.tumblr.com/lnej02q/ZHKmjk1iu/59.jpg); background-position:bottom; background-color:#FFFFFF;}
#player .mainImage{ background:url(http://static.tumblr.com/lnej02q/Txamkyq9a/25__2_.jpg); }

#player #baseLeft{ width:93px; }
#player #baseRight{ width:145px;}
#player .button{  width:26px; }
#player #play{ background:url(); }
#player #play,#player #pause{ left:26px; }
#player #previous{ left:0px; }
#player #next{ left:52px; }
#player #title{ left:90px;  font-size: 9px; }
#player #tooltip{ right:196px; }
#player #timer{ right:120px;  }
#player #list{ right:0px; }

#player #seeker{ right:320px; }
#player #seekerBase{ border-color:#FFFFFF;  }
#player #seekerBuffered{ background-color:#E6E6FA; }
#player #seekerSliderBase{ background-color:#FFFFFF; }

#player #volume{ width:65px; right:39px; }
#player #volumeSlider{ width:8px; background:url(http://static.tumblr.com/lnej02q/z7Vmjk1ke/barrinha05.jpg); }

#playlist,#playlist .module,#playlist h3{ border-color:#333;}
#playlist .module{  color:#696969; background-color:#FFFFFF; }
#playlist h3{ background:url(http://dl.dropbox.com/u/58708531/bar2.jpg); color:#696969; background-color:#FFFFFF;  }
#playlist .even{background-color:#fff;}
#playlist .odd{ background-color:#fff;}
#playlist .focus{ background-color:#fff; color:#aaa;}
